    * {
        margin: 0;
        padding: 0;
    }

    @font-face {
        font-family: "毛体";
        src: url("./fonts/maozedong.ttf");
    }

    @font-face {
        font-family: "大正体";
        src: url("./fonts/SourceHanSerifSC-Medium.otf");
    }

    @font-face {
        font-family: "正体";
        src: url("./fonts/SourceHanSerifSC-Regular.otf");
    }

    @font-face {
        font-family: "标题";
        src: url("./fonts/SourceHanSansCN-Heavy.otf");
    }

    body { 
        background: rgb(25, 25, 25);
    }

    h1 {
        color: white;
        font-size: 50px;
        font-family: '毛体', Arial, sans-serif;
        padding-top: 10px;
    }

    h2 {
        color: white;
        font-size: 42px;
        font-family: '标题', Arial, sans-serif;
        padding-top: 10px;
    }

    a {
        color: white;
        font-size: 28px;
        text-decoration: none;
        margin-right: 1vh;
        margin-left: 1vh;
        transition: 0.5s;
        font-family: '大正体', Arial, sans-serif;
        margin-top: 10px;
    }

    a:hover {
        color: yellow;
    }

    p {
        color: white;
        font-size: 16px;
        font-family: '正体', Arial, sans-serif;
    }

    i {
        color: white;
        font-size: 10.5px;
        font-family: '正体', Arial, sans-serif;
    }

    iframe {
        width: 100%;
        height: 65vh;
        margin: auto;
    }

    video {
        width: 100%;
    }
    
    .head {
        width: 100%;
        height: 150px;
        background-color: brown;
        position: fixed;
        top: 0;
    }

    .main {
        background-color: black;
    }

    .b {
        width: 100%;
        height: 120%;
        display: flex;
        justify-content: center; /* 水平居中 */
    }